* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  padding-left: 50px;
}

p {
    color: #555555;
    padding: 10px;
    width: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}


header {
    text-align: center;
}

header, section {
    background-color: whitesmoke;
    border: 10px solid whitesmoke;
    border-radius: 3px;
    margin: 10px;
}

footer {
    margin: 10px;
}

figure {
  background-color: white;
  border: 2px solid black;
  width: 450px;
  padding: 5px;
  display: inline-block;
  margin-bottom: 50px;
}

img {
  width: 400px;
}

.link {
  background: lightgreen;
  border: 3px solid green;
  border-radius: 3px;
  padding: 10px;
  display: block;
  max-width: 300px;
  min-width: 100px;
  
  font-size: 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}

.link:hover {
  background-color: green;
  color: whitesmoke;
}